<div class="border-right"
     [class.shadow-sm]="!sidebarOpen"
     style="z-index: 2">
  <app-sidebar></app-sidebar>
</div>
<div class="toolbar shadow-sm" style="z-index: 1;"
     [class.border-right]="sidebarOpen"
     [class.toolbar-open]="sidebarOpen">
  <div class="p-3 toolbar-content">
    <router-outlet></router-outlet>
  </div>
</div>
<div>
  <app-workspace-background #workspace>
    <app-workspace-area [workspace]="workspace.getElement()"></app-workspace-area>
  </app-workspace-background>
</div>
