<div class="d-flex flex-column bg-white" [style.height.%]="100">
  <div>
    <div class="mb-4 mt-2 logo">
      <button class="btn btn-block" appTooltip="Speech App!" position="right">
        <i class="fas fa-comment-alt"></i>
      </button>
    </div>

    <div class="mb-3">
      <button class="btn btn-block"
              appTooltip="Add new content" position="right"
              [class.active]="isActive(routes.BOX_CREATE)"
              (click)="navigate(routes.BOX_CREATE)">
        <i class="fas fa-plus"></i>
      </button>
      <button class="btn btn-block"
              appTooltip="Find content" position="right"
              [class.active]="isActive(routes.BOX_LIST)"
              (click)="navigate(routes.BOX_LIST)">
        <i class="fas fa-photo-video"></i>
      </button>
      <div class="px-2">
        <hr>
      </div>
    </div>

    <div class="mb-3">
      <button class="btn btn-block"
              appTooltip="Edit selected object" position="right"
              [class.active]="isActive(routes.BOX_EDIT)"
              (click)="navigate(routes.BOX_EDIT)">
        <i class="fas fa-pencil-ruler"></i>
      </button>
      <button class="btn btn-block"
              appTooltip="Layers" position="right"
              [class.active]="isActive(routes.LAYERS_LIST)"
              (click)="navigate(routes.LAYERS_LIST)">
        <i class="fas fa-layer-group"></i>
      </button>
      <button class="btn btn-block"
              appTooltip="Keyframes" position="right"
              [class.active]="isActive(routes.KEYFRAMES_LIST)"
              (click)="navigate(routes.KEYFRAMES_LIST)">
        <i class="fas fa-stopwatch"></i>
      </button>
      <button class="btn btn-block"
              appTooltip="Document" position="right"
              [class.active]="isActive(routes.DOCUMENT)"
              (click)="navigate(routes.DOCUMENT)">
        <i class="fas fa-file"></i>
      </button>
      <div class="px-2">
        <hr>
      </div>
    </div>

    <div class="mb-3">
      <button class="btn btn-block" appTooltip="Center view" position="right" (click)="centerView()">
        <i class="fas fa-crosshairs"></i>
      </button>
      <button class="btn btn-block" appTooltip="Zoom in" position="right" (click)="zoomIn()">
        <i class="fas fa-search-plus"></i>
      </button>
      <button class="btn btn-block" appTooltip="Zoom out" position="right" (click)="zoomOut()">
        <i class="fas fa-search-minus"></i>
      </button>
    </div>
  </div>

  <div class="flex-fill"></div>

  <div class="mb-2">
    <button class="btn btn-block" appTooltip="Start presentation" position="right" (click)="startShow()">
      <i class="fas fa-play"></i>
    </button>
    <button class="btn btn-block" appTooltip="Next keyframe" position="right" (click)="nextKeyframe()">
      <i class="fas fa-forward"></i>
    </button>
    <button class="btn btn-block" appTooltip="Previous keyframe" position="right" (click)="prevKeyframe()">
      <i class="fas fa-backward"></i>
    </button>
  </div>
</div>
