<div class="modal-dialog shadow-lg">
  <div class="modal-content">
    <div class="modal-header d-block">
      <div class="row align-items-center">
        <div class="col">
          <h5 class="modal-title">Fonts management</h5>
        </div>
        <div class="col-auto">
          <button *ngIf="mode === 'select'"
                  class="btn btn-primary"
                  (click)="setMode('add')">
            <i class="fas fa-plus"></i>
            Add new font
          </button>
          <button *ngIf="mode === 'add'"
                  class="btn btn-primary"
                  (click)="setMode('select')">
            Back
          </button>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <ng-container *ngIf="mode === 'add'">
        <app-fonts-modal-search (fontSelected)="addFont($event)"></app-fonts-modal-search>
      </ng-container>
      <ng-container *ngIf="mode === 'select'">
        <div class="pr-2" style="max-height: 60vh; overflow-y: auto;">
          <app-font-box *ngFor="let font of fonts"
                        [text]="font"
                        [family]="font"
                        [class.text-primary]="selectedFont === font"
                        (click)="selectFont(font)"></app-font-box>
        </div>
      </ng-container>
    </div>
    <div *ngIf="mode === 'select'" class="modal-footer">
      <button *ngIf="selectEnabled()"
              class="btn btn-success"
              (click)="useFont()">
        Select this font
      </button>
      <button class="btn btn-link"
              (click)="close()">
        Close
      </button>
    </div>
  </div>
</div>
