:root {
  --light-dark: #F0F1F2;
}

html, body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Roboto';
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

app-home {
  overflow: hidden;
  display: block;
}

app-workspace-background {
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}

app-workspace-area {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.workspace-area {
  position: absolute;
  will-change: transform;
  transition: none;
}

.workspace-area-directions {
  position: absolute;
  top: 0;
  left: 0;

  width: 800px;
  height: 600px;

  border-width: 1px 0 0 1px;
  border-style: dashed;
  opacity: .2;
}

.workspace-area-directions > span {
  font-family: monospace;
  background: black;
  color: white;
  font-size: 10px;
  padding: 3px 8px;
  position: relative;
  border-radius: 8px 8px 0 0;
  top: -23px;
  left: -1px;
}

app-project {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: 1fr;
}

.toolbar {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.toolbar-open .toolbar-content {
  margin-left: 0;
}

.toolbar-content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  transition-delay: .1s;
  transition: all .3s ease-in-out;
  transition-property: margin-left, opacity;

  width: 400px;
  margin-left: -400px;
}

app-sidebar {
  height: 100%;
}

app-sidebar > div {
  transition: all .5s;
  transition-property: margin-left, opacity;
  transition-delay: .2s;
}

app-sidebar .btn {
  box-shadow: none !important;
  border-radius: 0;
  width: 45px;
  height: 45px;
  color: var(--gray);
}

app-sidebar .btn:hover {
  transition: color .2s;
  color: var(--primary);
}

app-sidebar .btn.active {
  color: var(--primary);
}

app-sidebar .btn + .btn {
  margin-top: 0;
}

app-resizable-box,
app-workspace-box,
app-text-box,
app-link-box,
app-image-box,
app-html-box,
app-frame-box {
  display: contents;
}

app-resizable-box .highlighted {
  border: 2px solid var(--warning) !important;
  box-shadow: 0 0 5px var(--warning);
}

app-resizable-box .hidden {
  display: none !important;
}

.hover-container .hover-visible {
  display: none;
}

.hover-container:hover .hover-visible {
  display: unset;
}

.btn-light {
  color: #6c757d !important;
}

.form-control {
  background-color: var(--light);
  border: none;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.form-control:active,
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
  outline: none;
  background-color: #e2e6ea;
}

.form-control:hover {
  background-color: #e2e6ea;
}

.form-group label {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 900;
  color: #A2A6AA;
  padding-left: 0.75rem;
  margin-bottom: 0.2rem;
}

.modal.show {
  display: block;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

app-color-picker .form-control {
  background-color: var(--light) !important;
}

.test {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 100;
}

.presentation-mode {
  pointer-events: none;
}

.presentation-mode .presentation-mode-hide {
  display: none;
}

.presentation-mode app-sidebar > div {
  opacity: 0;
  margin-left: -45px;
}

.presentation-mode .toolbar-content {
  opacity: 0;
  margin-left: -400px;
}

app-presentation-mode-navigation {
  position: fixed;
  bottom: 40px;
  right: 50px;
  opacity: .2;
  transition: opacity .2s;
}

app-presentation-mode-navigation:hover {
  opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
