<div [style.left.px]="position.left"
     [style.top.px]="position.top"
     [style.transform]="getTransform()"
     class="workspace-area">

  <ng-content></ng-content>

  <app-resizable-box [initialTop]="50" [initialLeft]="100">
    <h2 class="m-0 p-0">Text content</h2>
  </app-resizable-box>

  <app-resizable-box [initialTop]="150" [initialLeft]="100">
    <input type="text" class="form-control form-control-lg" value="Input test">
  </app-resizable-box>

  <app-resizable-box [initialTop]="200" [initialLeft]="100">
    <img src="https://media.giphy.com/media/dmZ9oFsuGzfcMlOHC8/giphy.gif" alt="">
  </app-resizable-box>

</div>
